// Slideout menu
//

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  display: none;
  z-index: 100;
  background-color: #fff;

  &.menu-open {
    display: block;
    animation: .3s showSlideoutMenu ease-in-out;
  }

  .close-link {
    position: absolute;
    text-decoration: none;
    display: block;
    right: 8px;
    top: 6px;
    padding: 9px;
    font-size: 45px;
    line-height: 1;
    color: #333;
    height: 34px;
    vertical-align: middle;

    @include media-breakpoint-up(md) {
      right: 15px;
      top: 16px;
      font-size: 55px;
      height: 38px;

      span {
        top: -23px;
      }
    }


    span {
      display: inline-block;
      position: relative;
      top: -18px;
    }
  }

  @include media-breakpoint-up(md) {
    ul {
      li {
        height: 72px;
      }
      a,
      span {
        font-size: 0.929rem;
        min-height: 72px;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      height: 48px;
      border-bottom: 1px solid #f2f2f2;
      text-transform: uppercase;
      font-weight: 600;

      &.active {
        span {
          color: $brand-primary;
        }
      }
    }
    a,
    span {
      color: #333;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      font-size: 0.714rem;
      line-height: 1.5;
      padding: 0 60px 0 20px;
      min-height: 47px;
    }
  }
}


