//// Type page single
//

.type-page-single {
  > header {
    padding: 33px 24px;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 55px 144px;

      h2 {
        font-size: 1.286rem;
      }
    }

    h2 {
      font-size: 1rem;
      line-height: 1.4;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 auto;
      max-width: 768px;
    }
  }
  > .block-body {
    padding: 0 24px;
    text-align: center;
    font-size: 0.929rem;

    @include media-breakpoint-up(md) {
      padding: 0 72px;

      h3 {
        font-size: 1.286rem;
        margin-bottom: 30px;
      }
      .outline-embed {
        margin: 0 -72px 55px;
      }
      .outline-block {
        margin: 60px -72px;
        padding: 60px 72px 50px;
      }
    }

    .outline-embed {
      margin: 0 -24px 35px;
    }
    .outline-block {
      margin: 30px -24px;
      padding: 30px 24px 20px;
      background-color: #f5f8fa;

      table {
        width: 100%;
        text-align: left;
        max-width: 700px;
        margin: 0 auto;

        td {
          vertical-align: top;
        }
      }
    }
    .table-note {
      font-size: 0.857rem;
      margin-bottom: 30px;

      @include media-breakpoint-up(md) {
        font-size: 1rem;
        margin-bottom: 50px;
      }
    }
    .table-wrapper {
      display: flex;
      justify-content: center;
      height: auto;
      max-width: 100%;
      overflow: auto;
      margin-bottom: 52px;

      &.mCS_no_scrollbar {
        margin-bottom: 20px;
      }

      table {
        thead {
          th {
            background-color: $brand-secondary;
            border: 1px solid $brand-secondary;
            white-space: nowrap;
            color: #fff;
            padding: 20px 15px;
            font-weight: normal;

            @include media-breakpoint-up(md) {
              font-size: 1.286rem;
            }
          }
        }
        tbody {
          th {
            font-size: 0.786rem;
            white-space: nowrap;
            text-transform: uppercase;
            text-align: center;
          }
          td {
            font-size: 0.857rem;

            @include media-breakpoint-up(md) {
              font-size: 1rem;
            }
          }
          th,
          td {
            border: 1px solid #c8cacc;
            padding: 10px;
          }
        }
      }
    }

    h3 {
      font-size: 1.143rem;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 20px;
    }
    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      height: auto;
    }
    .special-offer {
      color: red;
    }
    .image-grid {
      display: flex;
      flex-direction: column;
      max-width: 620px;
      margin: 0 auto 30px;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;

        img {
          margin: 0;
          min-width: 300px;
        }
      }

      @include media-breakpoint-down(sm) {
        img + img {
          margin-top: 10px;
        }
      }
    }
  }
}
