// Core variables and mixins
@import "variables";
@import "mixins";

// Core CSS
@import "core/reboot";
@import "core/fonts";
@import "core/icons";
@import "core/type";
@import "core/images";
// @import "code";
// @import "grid";
// @import "tables";
@import "core/forms";
@import "core/buttons";

// Layout
@import "layout/header";
@import "layout/content";
@import "layout/footer";

// Pages / Blocks
@import "pages/main";
@import "pages/type-photo";
@import "pages/type-action";
@import "pages/type-page";
@import "pages/comments";
@import "pages/contacts";

// Components
@import "modules/animation";
// @import "dropdown";
// @import "button-group";
// @import "input-group";
// @import "custom-forms";
// @import "nav";
// @import "navbar";
// @import "card";
// @import "breadcrumb";
// @import "pagination";
// @import "pager";
// @import "labels";
// @import "jumbotron";
// @import "alert";
// @import "progress";
// @import "media";
// @import "list-group";
@import "responsive-embed";
// @import "close";

// Components w/ JavaScript
// @import "modal";
// @import "tooltip";
// @import "popover";
// @import "carousel";
@import "modules/owlcarousel";
@import "modules/slideout";
@import "modules/scrollbar";
// @import "modules/dropzone";
// @import "modules/mobile-overlay";

// Utility classes
@import "core/utilities";
// @import "utilities-spacing";
// @import "utilities-responsive";
